<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">

    <title>Clickea</title>


</head>

<body>



    <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->

    <header class="header">
        <h1 class="logo"><a href="/">
                <!-- CLICKEA -->
            </a></h1>
        <div class="logo"><img class="logo-36" width="60px" src="\img\Logo.png"> </div>
        <ul class="main-nav">
            <li><a href="#">Computación</a></li>
            <li><a href="#">Electrodomésticos</a></li>
            <li><a href="#">Celulares</a></li>
            <!--  -->
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>




            <li><a href="/productDetail">ProductDetail</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/register"> <i class="fas fa-address-card"></i>
                </a> </li>
            <li><a href="/login"><i class="fas fa-user-circle"></i></a> </li>

            <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
        <div>

            <nav class="solo-mobile322">
                <input class="clase322" type="checkbox" id="menu">
                <label class="laboratorio" for="menu"> ☰ </label>
                <ul class="bellagio">
                    <li class="lista32"><a href="#">Computación</a></li>
                    <li class="lista32"><a href="#">Electrodomésticos</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <!--  -->
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>

                    <li class="lista32"><a href="/productDetail">ProductDetail</a></li>
                    <li class="lista32"><a href="#"><i class="fas fa-search"></i></a></li>
                    <li class="lista32"><a href="/register"><i class="fas fa-address-card"> Registro</i>
                        </a></li>
                    <li class="lista32"><a href="/login"><i class="fas fa-user-circle"> Login</i></a></li>
                    <li class="lista32"><a href="/productCart"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                </ul>
            </nav>
        </div>
        </div>

    </header>
    <!-- .......................FIN HEADER.................................... -->



    <!-- agrego  banner provisorio y tarjetas -->
    <div class="banner-36">
        <!-- <img src="banner2.png" alt=""> -->
        <!--  <img src="img/img-home-banner.jpg" alt="">    banner mercado pago-->
        <img src="img/banner-liso-ESPERA.png" alt="">

    </div>


    <!-- ::::TARJETAS 1° SECCION::::---------------------------------------- -->
    <div class="padre-36">

        <!-- 1° TARJETA -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 1 -->EN
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/celular-350.png" alt="">
                </div>
                <div>
                    <h3>iPhone X 64 GB</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$189.000</h3>
                    <p>2 cámaras traseras de 12 Mpx/12 Mpx..</p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- tarjeta 2 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 2 -->LA
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/zapa-416px.png" alt="">
                </div>
                <div>
                    <h3>Adidas Ultra boost st</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$25.000</h3>
                    <p>Zapatillas running, suela boost</p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tarjeta 3 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 3 -->DULCE
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/gabinete-398.png" alt="">
                </div>
                <div>
                    <h3>Gabinete PC Gamer T20</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$15.000</h3>
                    <p>nuevos gabinetes de la linea Extreme Glass </p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tarjeta 4 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 4 -->ESPERA?
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/mother-398.png" alt="">
                </div>
                <div>
                    <h3>Motherboard Gamer Asus</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$23.000</h3>
                    <p>serie 5000/4000 serie G / 3ra / 2da / 1ra generación AMD Ryzen ™   </p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- otra sección NOVEDADES--------------------------------- -->

    <div class="section-novedades-36">
        <div>
            <h4>Novedades</h4>
        </div>
    </div>
    <!-- FIN SECCION NOVEDADES.----------------------------------- -->

    <div class="padre-36">

        <!-- 1° TARJETA -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 1 -->EN
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/celular-350.png" alt="">
                </div>
                <div>
                    <h3>iPhone X 64 GB</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$189.000</h3>
                    <p>2 cámaras traseras de 12 Mpx/12 Mpx..</p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- tarjeta 2 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 2 -->LA
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/zapa-416px.png" alt="">
                </div>
                <div>
                    <h3>Adidas Ultra boost st</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$25.000</h3>
                    <p>Zapatillas running, suela boost</p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tarjeta 3 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 3 -->DULCE
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/gabinete-398.png" alt="">
                </div>
                <div>
                    <h3>Gabinete PC Gamer T20</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$15.000</h3>
                    <p>nuevos gabinetes de la linea Extreme Glass </p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tarjeta 4 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 4 -->ESPERA?
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/mother-398.png" alt="">
                </div>
                <div>
                    <h3>Motherboard Gamer Asus</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$23.000</h3>
                    <p>serie 5000/4000 serie G / 3ra / 2da / 1ra generación AMD Ryzen ™   </p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- otra sección MAS VENDIDOS-------------------->
    <div>
        <div class="section-mas-vendidos-36">
            <h4>Más vendidos</h4>
        </div>
    </div>
    <!-- FIN SECCION MAS VENDIDOS------------------- -->

    <div class="padre-36">

        <!-- 1° TARJETA -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 1 -->EN
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/celular-350.png" alt="">
                </div>
                <div>
                    <h3>iPhone X 64 GB</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$189.000</h3>
                    <p>2 cámaras traseras de 12 Mpx/12 Mpx..</p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- tarjeta 2 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 2 -->LA
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/zapa-416px.png" alt="">
                </div>
                <div>
                    <h3>Adidas Ultra boost st</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$25.000</h3>
                    <p>Zapatillas running, suela boost</p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tarjeta 3 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 3 -->DULCE
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/gabinete-398.png" alt="">
                </div>
                <div>
                    <h3>Gabinete PC Gamer T20</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$15.000</h3>
                    <p>nuevos gabinetes de la linea Extreme Glass </p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- tarjeta 4 -->
        <div class="hijo1-36">
            <div>
                <h2>
                    <!-- Item 4 -->ESPERA?
                </h2>
                <div class="imagen-producto-36">
                    <img width="250px" src="img/mother-398.png" alt="">
                </div>
                <div>
                    <h3>Motherboard Gamer Asus</h3>
                    <h4>Precio:</h4> <span></span>
                    <h3>$23.000</h3>
                    <p>serie 5000/4000 serie G / 3ra / 2da / 1ra generación AMD Ryzen ™   </p>
                    <div class="botones-36">
                        <button class="boton-agregar-36"><a href="/productDetail">Agregar</a><i class="fas fa-shopping-cart"></i></button> <button
                            class="boton-agregar-36"><a href="/productCart">Comprar</a><i class="fas fa-dollar-sign"></i></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <footer class="footer-36">

        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h3>Información</h3>
                        <p>Nosotros</p>
                        <p>Asesoramiento</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------ -->
        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h3>Sucursales</h3>
                        <p>Av. San Martín 123</p>
                        <p>Av. Colón 369</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h3>Contacto</h3>
                        <p>te:351-369-963</p>
                        <p>clickea@mail.com.ar</p>
                    </div>
                </div>
            </div>
        </div>

    </footer>


</body>


</html>