<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="/css/style.css">

    <title>Clickea</title>
    
<header>
    <div><img src="/img/Logo.png" alt="">
        <ul>
            <li><a href="">Categorias(Hamburguesa)</a>
                <ul>
                    <li><a href="">Electrodomesticos</a>
                        <ul>
                            <li><a href="">Lavaropas</a></li>
                            <li><a href="">Microondas</a></li>
                            <li><a href="">Heladeras</a></li>
                        </ul>
                    </li>

                    <li><a href="">Indumentaria</a>
                        <ul>
                            <li><a href="">Remeras</a></li>
                            <li><a href="">Pantalones</a></li>
                            <li><a href="">Camperas</a></li>
                            <li><a href="">Zapatillas</a></li>
                        </ul>
                    </li>

                    <li><a href="">Muebles</a>
                        <ul>
                            <li><a href="">Escritorios</a></li>
                            <li><a href="">Mesas</a></li>
                            <li><a href="">Sillones</a></li>
                            <li><a href="">Armarios</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div>
        <li><a href="">Buscador(Lupita)</a></li>
    </div>
    
    <div>
        <li><a href="">Incio Sesion/Registro</a>
            <ul>
                <li><a href="/login">Login</a> </li>
                <li><a href="/register">Registro</a> </li>
            </ul>
        </li>
    </div>
    
    <div>
        <li><a href="/productCart">Carrito De compras</a></li>
        <ul>
            <li><a href="/productDetail">Detalle de producto</a></li>
        </ul>
    </div>

</header>

</html>