<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>

    <div class="Login">
            
        <img class="icono" src="img/Logo.png" alt="Login">
        <h1>INGRESA AQUÍ</h1>
        <form>
            <!--username-->
            <label for="NOMBRE">Usuario</label>
            <input type="text" placeholder="Ingresar usuario">

            <!--password-->
            <label for="CONTRASEÑA">Contraseña</label>
            <input type="password" placeholder="Ingresar Contraseña">

            <input type="submit" value="Acceder">
            <a href="#">Olvidaste tu contraseña?</a><br>
            <a href="#">Aun no tenes una cuenta?</a>
            <a1 href="#">Registrarse</a>

        </form>
        <!-- </div>
<div class= "goologin">
            <div class= "goologinimg">
                <img src="img/google.png" alt="google">
            </div>
 </div>
 <div class= "facelogin">
    <div class= "faceloginimg">
        <img src="img/logoface.png" alt="facebook">
    </div> -->
</div>

</body>
</html>