<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
   
    <link rel="stylesheet" href="/css/style.css">
  

    <title>Login</title>
    



<body class="loginBody">
          <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->


    <!-- .......................FIN HEADER.................................... -->


    <div class="Login">
            
        <!-- <img class="icono" src="img/Logo.png" alt="Login"> -->
        <h1>INGRESA AQUÍ</h1>
        <form>
            <!--username-->
            <label for="NOMBRE">Usuario</label>
            <input type="text" placeholder="Ingresar usuario">

            <!--password-->
            <label for="CONTRASEÑA">Contraseña</label>
            <input type="password" placeholder="Ingresar Contraseña">

            <input type="submit" value="Acceder">
            <a href="#">Olvidaste tu contraseña?</a><br>
            <a href="#">Aun no tenes una cuenta?</a>
            <a1 class= "reg" href="#">Registrarse</a> 
            <p class="ab">Iniciar con:</p>




        </form>


        <div class="social-login">
                    <!-- ^para el logo de goo y fac -->
                   
                    <div class="social-login-element">
                        <img src="img/google.png" alt="google-image">
                        <span>Google</span>
                    </div>
    
                    <div class="social-login-element">
                        <img src="img/logoface.png" alt="facebook-image">
                        <span>Facebook</span>
                    </div>

                    
        </div>
    </div>
</div>
</body>    
    
    <!-- Inicio footer -->
    <footer class="footer-36">

        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h3>Información</h3>
                        <p>Nosotros</p>
                        <p>Asesoramiento</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------ -->
        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h3>Sucursales</h3>
                        <p>Av. San Martín 123</p>
                        <p>Av. Colón 369</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h3>Contacto</h3>
                        <p>te:351-369-963</p>
                        <p>clickea@mail.com.ar</p>
                        <i class="fab fa-whatsapp"></i><span><i class="fab fa-facebook"></i></span><i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>

    </footer>
<!-- Fin footer -->
   




</head>
</html>