<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
     <link rel="stylesheet" href="/css/style.css">

    <title>Clickea</title>
    
   
<!-- <a href="/login">Login</a> -->

<body class="cuerpo-del-carrito">
      <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->

      <header class="header">
      
        <h1 class="logo"><a href="/">
                <!-- CLICKEA -->
            </a></h1>
        <div class="logo"><a href="/"><img class="logo-36" width="60px" src="\img\2.png"></a> </div>
        <ul class="main-nav">
            <li><a href="#">Computación</a></li>
            <li><a href="#">Electrodomésticos</a></li>
            <li><a href="#">Celulares</a></li>
            <!--  -->
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>




            <li><a href="/productDetail">ProductDetail</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/register"> <i class="fas fa-address-card"></i>
                </a> </li>
            <li><a href="/login"><i class="fas fa-user-circle"></i></a> </li>

            <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    
        <div>

            <nav class="solo-mobile322">
                <input class="clase322" type="checkbox" id="menu">
                <label class="laboratorio" for="menu"> ☰ </label>
                <ul class="bellagio">
                    <li class="lista32"><a href="#">Computación</a></li>
                    <li class="lista32"><a href="#">Electrodomésticos</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <!--  -->
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>

                    <li class="lista32"><a href="/productDetail">ProductDetail</a></li>
                    <li class="lista32"><a href="#"><i class="fas fa-search"></i></a></li>
                    <li class="lista32"><a href="/register"><i class="fas fa-address-card"> Registro</i>
                        </a></li>
                    <li class="lista32"><a href="/login"><i class="fas fa-user-circle"> Login</i></a></li>
                    <li class="lista32"><a href="/productCart"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                </ul>
            </nav>
        </div>
        </div>

    </header>
    <!-- .......................FIN HEADER.................................... -->



    
    <h4 class="titulodelcarrito77"> <i class="fas fa-cart-arrow-down"></i></i> </i> Mi Carrito</h4>
    <div class="contenedor-padre77">
        <section class="dondevanlosproductos777">
            <article class="articulosenelcarrito77">
            <div class="product-description777"> 
                <h4 class="titulodelproducto77">Iphone X 256gb</h4>
                
                <h6 class="precioporunidad77">$120.000</h6>
                <div class="imagen-container777">
                <img class="imagendelarticulo77" src="/img/iphonex.png" alt="iphone">
                 </div>
            </div>
                <i class="fas fa-trash"></i> 
                
                <div class="contenedor-contador777"> 
                    
                <div class="qty ">
                    <div class="a"><p class="subtotal777">$120.000</p></div>
                   <div class="b"> <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="1">
                    <span class="plus bg-dark">+</span></div>
                </div>
               </div>
            </article>
        
        </section>
   
        <section class="contenedor-subtotal777">
            <article class="contenedor-subtotaldata">
             <p class="palabra-subtotal777">Subtotal</p>
             <p class="subtotal-sin-envio777">$120.000</p>
        
             <p class="envio777">Envío</p>
             <p class="total-del-envio777">$1.200</p>

                <p class="palabra-total777">Total</p>
             <p class="total-con-envio777">$121.200</p>

            
             
              <p class="titulo-medios777"> <i class="far fa-credit-card"></i> Seleccione su medio de pago:</p>
                  
                <div class="medios-de-pago777">
                     <section class="medios">
                         <div class="division-mercadopago">
                        <article class="mp">
                         <label for="mercadopago"><img src="/img/logo-mercadopago29.png" alt=""> </label>
                         <input class="checking" type="checkbox" name="mercadopago" id="mercadopago">
                        </article>
                        </div>

                     <div class="division-paypal">
                        <article class="mp">
                        <label for="mercadopago"><img src="/img/paypalll.png" alt=""> </label>
                        <input class="checking" type="checkbox" name="mercadopago" id="mercadopago">
                         </article>
                     </div>

                     <div class="division-americanexpress">
                         <article class="mp">
                        <label for="mercadopago"><img src="/img/ameri.png" alt=""> </label>
                        <input class="checking" type="checkbox" name="mercadopago" id="mercadopago">
                       </article>
                      </div>

                     <div class="division-visa">
                         <article class="mp">
                        <label for="mercadopago"><img src="/img/visa.png" alt=""> </label>
                        <input class="checking" type="checkbox" name="mercadopago" id="visa">
                        </article>
                      </div>


                     </section>
                
                </div>
                <div class="boton-finalizar-compra">
                    <button class="boton" type="submit" name="boton-finalizar-compra">
                        Finalizar compra   <i class="fas fa-hand-holding-usd"></i></i>
                    </button>
                </div>





            </article>
        </section>
    </div>







    
</body>
<!-- Inicio footer -->
<footer class="footer-36">

    <div class="padre-36">
        <div class="footer-hijo1-36">
            <div>
                <div>
                    <h3>Información</h3>
                    <p>Nosotros</p>
                    <p>Asesoramiento</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------ -->
    <div class="padre-36">
        <div class="footer-hijo1-36">
            <div>
                <div>
                    <h3>Sucursales</h3>
                    <p>Av. San Martín 123</p>
                    <p>Av. Colón 369</p>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="padre-36">
        <div class="footer-hijo1-36">
            <div>
                <div>
                    <h3>Contacto</h3>
                    <p>te:351-369-963</p>
                    <p>clickea@mail.com.ar</p>
                    <i class="fab fa-whatsapp"></i><span><i class="fab fa-facebook"></i></span><i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Fin footer -->

<script src="/js/cart.js" > </script>

</body>



</html>