<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\styles.css">
    <title>Detalle de producto</title>
</head>
<body>
    <h1>DETALLE DE PRODUCTO</h1>

    <a href="/">Volver</a>

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ullam, reprehenderit molestiae maxime eius pariatur voluptate magnam commodi tempore dolorem aliquid, voluptates architecto et, soluta recusandae enim! Doloribus, nostrum magnam!</p>

    <img src="img/zapa.jpg" alt="zapa">

    


</body>
</html>