<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\productDetail.css">
    <title>Detalle de producto</title>
</head>
<body class="body36">

   <!--  <section class="cont-padre36">

        <div class="imagen-producto36">
          <img class="imagen-pro36"src="img/adidas-267.png" alt="">

        </div>

        <div class="texto36">

            <div class="title-1-36">ULTRABOOST 20</div>

            <span class="precio36">Precio :</span><span class="importe36">  $15.000</span>

            <br>

            <ul class="ul36">
                <li>Ajuste ceñido y cómodo, tipo media</li>
                <li>Zapatillas de alto rendimiento para correr</li>
                <li>Mediasuela receptiva Boost</li>
         
            </ul>
            <div class="parrafo36">
                <p>Además, el dispositivo cuenta con cámara frontal de 7 Mpx para que puedas sacarte divertidas selfies o hacer videollamadas.</p>
            </div>

            <br>

            <div>
                <span class="span36">talle</span> <select class="select36">1</select>
                <span class="span36">color</span> <select class="select36">1</select>
                <span class="span36">cantidad</span> <select class="select36">1</select>
            </div>

            <br>

            <div class="boton-1-36">
                <button class="button36">Agregar <i class="fas fa-shopping-cart"></i></button> <button class="button36">Comprar <i class="fas fa-check"></i></button> 
            </div>
        </div>

    </section> -->

    <div class="padre-36">

      
        <!-- 1° TARJETA -->
        <div class="hijo1-36">

            <div>
                <div class="imagen-mobile-36">
                    <!-- <img width="280px"src="celular-350.png" alt=""> -->
                    <img class="imagen-mobile-36-2"  src="/img/celular-350.png" alt="foto de celular iphone x">
                </div>
            </div>

        </div>

        <!-- tarjeta 2 -->
        <div class="hijo2-36">
            <div>
                <div>
                    <h3>iPhone X 64 GB gris espacial</h3>
                    

                    <span>Precio :</span> <span class="importe36">250.000</span> <span class="importe36-descuento">    $189.000</span>
                    <br>
                    <span>en   </spa"><span class="cuotas">9 x 21.000  </span><span class="cuotas">  sin interés</span>

                    <h4>Descripción:</h4>
                    <p>Doble cámara y más detalles
                        Sus 2 cámaras traseras de 12 Mpx/12 Mpx te permitirán tomar imágenes con más detalles y lograr efectos únicos como el famoso modo retrato de poca profundidad de campo.</p>
                    <p>Además, el dispositivo cuenta con cámara frontal de 7 Mpx para que puedas sacarte divertidas selfies o hacer videollamadas.</p>
                    <div class="select-36">
                        <span class="span36">color</span> <select class="select36">1</select>
                        <span class="span36">cantidad</span> <select class="select36">1</select>
                    </div>
                    <br>
   
                    <div class="botones-36">
                        <button class="boton-agregar-36-verde">Agregar <i class="fas fa-shopping-cart"></i></button> <button class="boton-agregar-36">Comprar <i class="fas fa-dollar-sign"></i></i></button> 
                    </div>
                </div>
            </div>
        </div>

    </div>

  




  
</body>
</html>