<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/cart.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Carrito de Compras</title>
</head>
<body>
    <header class="barra-navegacion">
        <div >
            <nav class="carro">
              Carrito de compras
            </nav>
        </div>
        
    </header>
    <div>
        <nav class="nombre">
             Iphone X 256gb
            <h6 class="backgroundc">Apple iphone 256gb - Liberado
            </h6>
            <h4 class="backgroundc">$129.000</h4>
            <p class="mas">+</p>
            <p class="menos">-</p>

            <p class="cantidad">1</p>
            <div >
            <div class="divisiondelosmedios" >
          <nav class="Medios1">
            <nav class="mercadopago">
                <label for="mercadopa"><img class="mercadopa" src="/public/img/logo-mercadopago29.png" alt=""></label>
                <input class="check" type="checkbox" id="mercadopa">
                
            </nav>

            <nav class="visarda">
                <label for="visa"><img class="visardi" src="/public/img/descarga.png" alt=""></label>
                <input class="check" type="checkbox" id="visa" >
            </nav>

            <nav class="american">
                <label for="american-express"><img class="ame" src="/public/img/ameri.png" alt="american-express"></label>
                <input type="checkbox" name="american-express" id="ameri">
            </nav>
            
            <nav class="paypall">
                <label for="paypal"><img class="peipal" src="/public/img/paypalll.png" alt=""></label>
                <input type="checkbox" name="paypal" id="peipal">
            </nav>
        </nav>
    </div>
        </nav>
    </div>
<div>
    <img class="miniatura1" src="/public/img/iphonex.png" alt="iphone">
<nav class="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</nav>
<nav class="palabra-medios">
    Seleccione su medio de pago:
</nav>
<div class="division">
    
</div>
<div class="carrito-actual">
    <nav class="carrillototal">
        Carrito actual:

        <ul class="lista1">
            <li>
                Primer producto - $10.000  
            </li>
            <li>
                Segundo producto - $5.000
            </li>
            <li>
                Tercer producto - $1.000
            </li>
        </ul>
        <p class="mas1">+</p>
        <p class="menos1">-</p>

        <p class="mas2">+</p>
        <p class="menos2">-</p>

        <p class="mas3">+</p>
        <p class="menos3">-</p>
        

        <p class="cantidad1">1</p>
        <p class="cantidad2">1</p>
        <p class="cantidad3">1</p>

        <div>
            <nav class="total">
                Total:$145.000
            </nav>
        </div>

        <h3 class="botondecompra">Comprar</h3>
    </nav>
</div>
<div>
    <img class="banner1" src="/public/img/11.-banner-ofertas.png" alt="">
</div>
<div>
    <img class="banner2" src="/public/img/banner2.png" alt="">
</div>

    </nav>
</div>
</body>
</html>