<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\productDetail.css">
    <title>Detalle de producto</title>
</head>
<body class="body36">

    <section class="cont-padre36">

        <div class="imagen-producto36">
          <img class="imagen-pro36"src="img/adidas-267.png" alt="">

        </div>

        <div class="texto36">

            <div class="title-1-36">ULTRABOOST 20</div>

            <span class="precio36">Precio :</span><span class="importe36">  $15.000</span>

            <br>

            <ul class="ul36">
                <li>Ajuste ceñido y cómodo, tipo media</li>
                <li>Zapatillas de alto rendimiento para correr</li>
                <li>Mediasuela receptiva Boost</li>
         
            </ul>
            <div class="parrafo36">
                <p>Inspiradas en el espacio. Diseñadas para usarse en el planeta Tierra. Las Ultraboost 20 son la culminación de años de investigación e innovación. </p>
            </div>

            <br>

            <div>
                <span class="span36">talle</span> <select class="select36">1</select>
                <span class="span36">color</span> <select class="select36">1</select>
                <span class="span36">cantidad</span> <select class="select36">1</select>
            </div>

            <br>

            <div class="boton-1-36">
                <button class="button36">Agregar <i class="fas fa-shopping-cart"></i></button> <button class="button36">Comprar <i class="fas fa-check"></i></button> 
            </div>
        </div>

    </section>

  
</body>
</html>