<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">

    <title>Clickea</title>
    
   
<!-- <a href="/login">Login</a> -->

<body>
      <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->

      <header class="header">
      
        <h1 class="logo"><a href="/">
                <!-- CLICKEA -->
            </a></h1>
        <div class="logo"><a href="/"><img class="logo-36" width="60px" src="\img\2.png"></a> </div>
        <ul class="main-nav">
            <li><a href="#">Computación</a></li>
            <li><a href="#">Electrodomésticos</a></li>
            <li><a href="#">Celulares</a></li>
            <!--  -->
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>




            <li><a href="/productDetail">ProductDetail</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/register"> <i class="fas fa-address-card"></i>
                </a> </li>
            <li><a href="/login"><i class="fas fa-user-circle"></i></a> </li>

            <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    
        <div>

            <nav class="solo-mobile322">
                <input class="clase322" type="checkbox" id="menu">
                <label class="laboratorio" for="menu"> ☰ </label>
                <ul class="bellagio">
                    <li class="lista32"><a href="#">Computación</a></li>
                    <li class="lista32"><a href="#">Electrodomésticos</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <!--  -->
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>

                    <li class="lista32"><a href="/productDetail">ProductDetail</a></li>
                    <li class="lista32"><a href="#"><i class="fas fa-search"></i></a></li>
                    <li class="lista32"><a href="/register"><i class="fas fa-address-card"> Registro</i>
                        </a></li>
                    <li class="lista32"><a href="/login"><i class="fas fa-user-circle"> Login</i></a></li>
                    <li class="lista32"><a href="/productCart"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                </ul>
            </nav>
        </div>
        </div>

    </header>
    <!-- .......................FIN HEADER.................................... -->

    <div class="moverse322">
        <nav class="nombre">
             Iphone X 256gb
            <h6 class="backgroundc">Apple iphone 256gb - Liberado
            </h6>
            <h4 class="backgroundc">$129.000</h4>
            <div class="sumando322">
                
                <p class="mas">+</p>
                <p class="menos">-</p>

            <p class="cantidad">1</p>
        </div>
        </nav>
            
    <div class="agrupando-desktop"> 
<div>
    <img class="miniatura1" src="/img/iphonex.png" alt="iphone"></div>

<nav class="estrellas">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
</nav>

<div class="division322">
<div class="palabra-medios">
    <h4>Seleccione su medio de pago:</h4>

  
        <div class="divisiondelosmedios" >
     
       <div class="division mercadopago"> 

            <label for="mercadopa"><img class="mercadopa" src="/img/logo-mercadopago29.png" alt=""></label>
            <input class="checking" type="checkbox" id="mercadopa">
            
        </div>
        <div class="division visa">
      
            <label for="visa"><img class="visardi" src="/img/descarga.png" alt=""></label>
            <input class="checking" type="checkbox" id="visa" >
        
    </div>
    <div class="division americane">
       
            <label for="ame"><img class="ame" src="/img/ameri.png" alt="american-express"></label>
            <input class="checking" type="checkbox" name="american-express" id="ameri">
      </div>

        <div class="division paypal">
        
            <label for="peipal"><img class="peipal" src="/img/paypalll.png" alt=""></label>
            <input class="checking" type="checkbox" name="paypal" id="peipal">
        
    </div>
    
</div>
    
</div>

<div class="division3221">
    
</div>
</div>
</div> 
<div class="carrito-actual">
    <nav class="carrillototal">
       <h4>        Carrito actual:
    </h4>

        <ul class="lista1">
            <li>
                Primer producto - $10.000  
            </li>
            <li>
                Segundo producto - $5.000
            </li>
            <li>
                Tercer producto - $1.000
            </li>
        </ul>
        <div class="cosas-del-carrito">
        <p class="mas1">+</p>
        <p class="menos1">-</p>

        <p class="mas2">+</p>
        <p class="menos2">-</p>

        <p class="mas3">+</p>
        <p class="menos3">-</p>
        

        <p class="cantidad1">1</p>
        <p class="cantidad2">1</p>
        <p class="cantidad3">1</p>
     </div>
        <div>
            <nav class="total">
                Total:$145.000
            </nav>
        </div>

        <h3 class="botondecompra">Comprar</h3>
    </nav>
</div>
<div>
    <img class="banner1" src="/img/11.-banner-ofertas.png" alt="">
</div>
<div>
    <img class="banner2" src="/img/banner2.png" alt="">
</div>

    </nav>
</div>
</body>



</html>