<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
     <link rel="stylesheet" href="css/register.css">
     <link rel="stylesheet" href="/css/style.css">
 
    <title>register</title>
    <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->

    <header class="header">
      
        <h1 class="logo"><a href="/">
                <!-- CLICKEA -->
            </a></h1>
        <div class="logo"><a href="/"><img class="logo-36" width="60px" src="\img\2.png"></a> </div>
        <ul class="main-nav">
            <li><a href="#">Computación</a></li>
            <li><a href="#">Electrodomésticos</a></li>
            <li><a href="#">Celulares</a></li>
            <!--  -->
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>
            <li class="lista32"><a href="#">Celulares</a></li>




            <li><a href="/productDetail">ProductDetail</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/register"> <i class="fas fa-address-card"></i>
                </a> </li>
            <li><a href="/login"><i class="fas fa-user-circle"></i></a> </li>

            <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    
        <div>

            <nav class="solo-mobile322">
                <input class="clase322" type="checkbox" id="menu">
                <label class="laboratorio" for="menu"> ☰ </label>
                <ul class="bellagio">
                    <li class="lista32"><a href="#">Computación</a></li>
                    <li class="lista32"><a href="#">Electrodomésticos</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <!--  -->
                    <li class="lista32"><a href="#">Celulares</a></li>
                    <li class="lista32"><a href="#">Celulares</a></li>

                    <li class="lista32"><a href="/productDetail">ProductDetail</a></li>
                    <li class="lista32"><a href="#"><i class="fas fa-search"></i></a></li>
                    <li class="lista32"><a href="/register"><i class="fas fa-address-card"> Registro</i>
                        </a></li>
                    <li class="lista32"><a href="/login"><i class="fas fa-user-circle"> Login</i></a></li>
                    <li class="lista32"><a href="/productCart"><i class="fas fa-shopping-cart"></i>Carrito</a></li>
                </ul>
            </nav>
        </div>
        </div>

    </header>
    <!-- .......................FIN HEADER.................................... -->

</head>
<body>

    <div class="register">
            
        <!-- <img class="icono2" src="img/Logo.png" alt="Login"> -->
        <h1>Registrate Gratis</h1>
        <form>
            <!--username-->
            <label for="NOMBRE">Nombre</label>
            <input type="text" placeholder="Ingresar nombre">
            
            <label for="APELLIDO">Apellido</label>
            <input type="text" placeholder="Ingresar apellido">

            <!--email-->
            <label for="CORREO">Correo Electronico</label>
            <input type="email"  placeholder="Ingresar tu correo">

            <!--password-->
            <label for="CONTRASEÑA">Contraseña</label>
            <input type="password" placeholder="Ingresar Contraseña">
 
             <!--password2-->
             <label for="REINGRESAR CONTRASEÑA">Reingresar Contraseña</label>
             <input type="password" placeholder="Reingresar Contraseña">

             <input form="Boton" type="checkbox">
             <label >He leido y acepto los terminos, condiciones y politica de privacidad</label></h4>
                
             <input type="submit" value="Registrarse"> 
        
        </form>
        <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2021 </small>
    </div>
        <!-- </div>
<div class= "goologin">
            <div class= "goologinimg">
                <img src="img/google.png" alt="google">
            </div>
 </div>
 <div class= "facelogin">
    <div class= "faceloginimg">
        <img src="img/logoface.png" alt="facebook">
    </div> -->


</body>
</head>
</html>