/*BASE MOBILE FIRST*/

/*MOBILE*/

/*---------------------------------- INICIO SEGUNDO INTENTO ----------------------------*/

.titulodelcarrito77{
    text-align: center;
    padding: 10px;
}

.cuerpo-del-carrito{
    background-color:#F6F7EB; 
}
.dondevanlosproductos777{
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
}

.articulosenelcarrito77{
    width: 90%;
    height: 120px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
    display:flex;
   flex-direction:row;
   flex-wrap: wrap;
   position: relative;
   margin: 10px auto;

 
}
.titulodelproducto77{
   font-size: 15px;
    left: -5px;
    order: 0;
   
}

.precioporunidad77{
   
    top: 20px;
   margin-left: 15px;
    order: 2;
    color: gray;

}

.articulosenelcarrito77 .fa-trash{
    position: absolute;
    color: rgb(168, 0, 0);
    right: 5px;
    top: 5px;
   
   order: 1;
}

.imagen-container777{
    order: 3;
    width: 100px;
    height: 100px;
}
.articulosenelcarrito77 .imagendelarticulo77{
   
    height: 50px;
    width: 95px;
   display: flex;
    order: 3;
}

.product-description777{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width:50%;
    padding:5px ;
    height: 100%;
}

.subtotal777{
    font-size: 24px;
    font-weight: bold;
    color: rgb(70, 70, 70);
}

/* ----------------------- Contador de cantidad------------------------- */
.qty{
    text-align: end;
    padding-right: 10px;
}

.qty .count {
    color: #000;
    background-color: #F6F7EB;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/

.cuerpo-del-carrito input{  
    border: 0;
    width: 2%;
}
.cuerpo-del-carrito input::-webkit-outer-spin-button,
.cuerpo-del-carrito input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cuerpo-del-carrito input:disabled{
    background-color:white;
}

.contenedor-contador777{
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;

}


/* -------------------------------------SUBTOTAL-------------- */


body .contenedor-subtotal777{
    width: 90%;
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}


/* -------------------Subtotal---------- */

.contenedor-subtotal777 .palabra-subtotal777 {
    color: gray;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.contenedor-subtotal777 .subtotal-sin-envio777{
    color: gray;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;
    right: 5px;
    top: 0;
    position: absolute;
}

.contenedor-subtotal777 .envio777{
    color: gray;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin-top: -10px;
    
}

.contenedor-subtotal777 .total-del-envio777{
    color: gray;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin-top: -10px;
    position: absolute;
    right: 5px;
    top:50px;
}

.contenedor-subtotal777 .palabra-total777{
    color: rgb(87, 87, 87);
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    margin-top: -10px;

}

.contenedor-subtotal777 .total-con-envio777{
    color: gray;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    margin-top: -10px;
    position: absolute;
    right: 5px;
    top:80px;
}

/* ----------------MEDIOS DE PAGO-------------------------- */
.contenedor-subtotal777 .contenedor-subtotaldata{
    width: 100%;
}

.medios {
    display: flex;
    justify-content: space-evenly;
}
 
 .contenedor-subtotal777  .titulo-medios777 {
     margin-top: 20px;
     font-size: 16px;
     color: rgb(58, 58, 58);
     padding-left: 10px;
    font-weight: lighter;
 }
 .contenedor-subtotal777  .titulo-medios777 i{
     font-size: 15px;
 }

 .medios-de-pago777 .division-paypal{
     display: flex;
 }

 .medios-de-pago777 .medios .mp img{
width: 60px;
border: 1px solid rgb(211, 211, 211);
border-radius: 10px;
height: 60px;
cursor: pointer;

 }
 .medios-de-pago777 .medios .mp img:hover{
     border: 1px solid gray;
     border-radius: 10px;
 }

 .medios-de-pago777 .medios .mp input{
     display: none;
     
 }

 .medios-de-pago777 .medios .pp img{
    width: 60px;
   
 }
 .medios-de-pago777 .medios .pp input{
     display: none;
 }

 .boton-finalizar-compra{
     display: flex;
     position: relative;
 }
.boton-finalizar-compra .boton{
    position: absolute;
    display: flex;
    right: 55px;
    top: 25px;
    font-weight: bold;
    color: rgb(58, 58, 58);
    background-color:rgb(146, 243, 0);
    border-radius: 10px;
    padding:2px 5px;
}
.boton-finalizar-compra .boton i{
    padding: 5px;
  
    font-size: 15¿px;
}

/*<<<<<<<<<<<< MEDIA QUERIES TABLET >>>>> */

@media (min-width: 767px){

   .articulosenelcarrito77{
       width: 97%;
   }
    .contenedor-subtotal777  .titulo-medios777 {
        margin-top: 20px;
        font-size: 16px;
        color: rgb(58, 58, 58);
        padding-left: 10px;
        padding-top: 10px;
       font-weight: lighter;
    }

    .dondevanlosproductos777{
        width: 90%;
    
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
        margin: 0 auto;
        left: 10px;
    }

    .boton-finalizar-compra .boton i{
        padding: 5px;
      
        font-size: 15¿px;
    }
    body .contenedor-subtotal777{
        width: 90%;
        height: 320px;
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        position: relative;
    }



}


/*<<<<<<<<<<<< MEDIA QUERIES DESKTOP >>>>> */

@media (min-width: 1023px){
    
    .titulodelcarrito77{
        font-size: 30px;
    }
   
    .dondevanlosproductos777{
        width: 64%;
    height: 400px;
    margin-left: 10px;
    }
    body .contenedor-subtotal777{
        padding: 5px;
        width: 34%;
        height: 400px;
        margin-right: 10px;
        margin-top: -400px;
        padding: 20px;
    }
    
    .titulodelproducto77{
        font-size: 20px;
    }

    .product-description777 {
        text-align: center;
        align-items: center;
        width: 45%;
    }

    .contenedor-subtotaldata .palabra-subtotal777{
        font-size: 20px;
    }
    .contenedor-subtotaldata .subtotal-sin-envio777{
        font-size: 20px;
        padding-top: 25px;
        padding-right: 20px;
    }
    .contenedor-subtotaldata .envio777 {
        font-size: 18px;
    }
    .contenedor-subtotaldata .total-del-envio777{
        font-size: 18px;
        padding-top: 25px;
        padding-right: 20px;
    }
    .contenedor-subtotaldata .palabra-total777{
        font-size: 24px;
    }
    .contenedor-subtotaldata .total-con-envio777{
        padding-top: 30px;
        font-size: 24px;
        padding-right: 20px;
    }




    .contenedor-subtotal777 .titulo-medios777{
        font-size: 24px;
    }

    .contenedor-contador777 .qty{
        margin-bottom: 20px;
    }
   .contenedor-contador777 .qty .a{
        width: 50%;
        display: flex;
        margin-left: 30px;
        margin-bottom: 50px;
        position: absolute;
    }

    .boton-finalizar-compra .boton{
        justify-content: center;
        left: 35%;
    }
}

































/*---------------------------- FIN SEGUNDO INTENTO---------------------------------- */

