/*BASE MOBILE FIRST*/

/*MOBILE*/

/*foto del producto*/
.miniatura1{
    padding: 5px 0;
    margin-top: 10px;

    margin-right: 2px;
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;

}

/*Recuadro de descripción de producto*/
.nombre{

    margin-right: 0px;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    box-shadow: lightgray 1px 1px 1px;
    background-color: rgb(252, 253, 243);
    border-radius: 5px;

}
.backgroundc{
    background-color: rgb(252, 253, 243)
}
.sumando322{
    width: 50px;
    margin-left: 80px;
}
p.mas{
    background-color:rgb(211, 241, 166);
    display:flexbox;
    width: 25px;
    border: 1px solid lightgray;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight:bolder;
    
}
p.menos{
    background-color:rgb(216, 141, 141);
    display:block;
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: -28px;
    font-weight:bolder;
}
p.cantidad{
    background-color:white;

    display:flexbox;
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-left: 90px;
    margin-top:-28px;
    text-align: center;
    font-weight:bolder;
    font-size: 1;

}

/*Estrellas*/

.checked {
  color: orange;
  width: 40px;
}

.estrellas{
    width: 50%;
    margin-top: 25px;
    font-size: 20px;
    padding: 5px;
  justify-content: space-between;
    place-content:initial;
    display:flex;
    box-sizing: content-box;
    
}

span.fa.fa-star{
    margin-left: 10px;
    width:12px;
  
}
/*Medios de pago*/
.divison322{
    width: 100%;
}

.palabra-medios h4{
    font-size: 20px;
    font-weight:bolder;
    display: flex;
    padding-top: 24px;
    padding-bottom: 30px;
    margin-bottom: 25px;
}
nav.Medios1{
    margin-top: -30px;
    width: 100%;
    justify-content: space-between;
 
}
.divisiondelosmedios{
width: 90%;
margin: 0 auto;
display: flex;
}

.divisiondelosmedios .division .checking{
    display: none;
}
.palabra-medios .mercadopago:hover{
    border: 1px solid lightgray;
    border-radius: 10px;
}
.palabra-medios .visa:hover{
    border-radius: 10px;
    border: 1px solid lightgray;
 

}
.palabra-medios .americane:hover{
    border-radius: 10px;
    border: 1px solid lightgray;

}
.palabra-medios .paypal:hover{
    border-radius: 10px;
    border: 1px solid lightgray;

}





/* div.division-mercadopago{
    width:60px;
    margin-right: 160px;
    display: flex;
}
.mercadopago{
    width: 60px;
}
.mercadopa{
    width: 100%;
    margin-top: 20px;
    display: flex;
    
    }
    
.para-abajo322no{
    width: 100%;
}



.visarda{
     width: 60px;
text-align: center;
align-content: center;
margin-left: 30px;
margin-top: -80px;
}

.visardi{
    display: flex;
    width: 100%;
}
#visa{
  margin-top: 20px;

}


.american{
width: 60px;
margin-top: -85px;
margin-left: 170px;
}
.ame{
    width: 80%;
    display: flex;


}
#ameri{
    margin-top: 10px;
    margin-left: -1px;
}
.paypall{
width: 50px;
margin-left: 240px;
margin-top: -80px;
    
}
.peipal{
  width: 100%;
  margin-top: -10px;
  display: flex;
  margin-bottom: 5px;

} */

.medios-de-pago{
    margin-top: 20px;
   
}

.division3221{

position:relative;
margin-top: 20px;
border-bottom:2px solid lightgray;
width: 320px;


}

.divisiondelosmedios .division{
    width: 20%;
    height: 70px;
}

.divisiondelosmedios .division label{
    width: 100%;
 
}

.divisiondelosmedios .division label img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*Carrito Actual */

.agrupando.desktop{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.carrito-actual{
    width: 100%;
}
.carrillototal{
margin-top: 40px;
margin-left: 10px;
width: 100%;

}
.carrillototal h3{
    font-weight: bolder;
}

.lista1{
    width: 90%;
    margin: 0 auto;
}

.lista1 li{
    background-color: rgb(252, 253, 243);
    border:1px solid lightgray;
    padding: 2px;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    list-style-type: none;
    border-radius: 5px;
}

.cosas-del-carrito{
    margin-left: 30px;
}

p.mas1{
    background-color: rgb(211, 241, 166);
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
    position: absolute;
    text-align: center;
    font-weight:bolder;
    margin-left: 200px;
    margin-top: -88px;
    padding: 2px;
}
p.menos1{
    background-color:rgb(216, 141, 141);
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight:bolder;
    margin-left: 230px;
    margin-top: -88px;
}

p.mas2{
    background-color: rgb(211, 241, 166);
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
    position: absolute;
    text-align: center;
    font-weight:bolder;
    margin-left: 200px;
    margin-top: -58px;
    padding: 2px;
}
p.menos2{
    background-color:rgb(216, 141, 141);
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight:bolder;
    margin-left: 230px;
    margin-top: -58px;
}

p.mas3{
    background-color: rgb(211, 241, 166);
    display:flexbox;
    width: 25px;
    border: 1px solid lightgray;
    position: absolute;
    text-align: center;
    font-weight:bolder;
    margin-left: 200px;
    margin-top: -28px;
}
p.menos3{
    background-color:rgb(216, 141, 141);
    display:flexbox;
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight:bolder;
    margin-left: 230px;
    margin-top: -28px;
}

p.cantidad1{
    background-color:white;

  
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
position: absolute;
margin-left: 260px;
margin-top: -88px;
    text-align: center;
    font-weight:bolder;
    font-size: 1;

}
p.cantidad2{
    background-color:white;
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
position: absolute;
margin-left: 260px;
margin-top: -58px;
    text-align: center;
    font-weight:bolder;
    font-size: 1;

}
p.cantidad3{
    background-color:white;

    display:flexbox;
    width: 25px;
    border: 1px solid lightgray;
    border-radius: 5px;
position: absolute;
margin-left: 260px;
margin-top: -28px;
    text-align: center;
    font-weight:bolder;
    font-size: 1;

}

.total{
    background-color: rgb(252, 253, 243);
    border:1px solid lightgray;
    margin-left: 5px;
    margin-top: 10px;
    height: 30px;
    padding-top: 5px;
    width: 90%;
    text-align: end;
    padding-right: 10px;
    box-sizing: content-box;
    font-size: 20px;
    border-radius: 5px;
}

/*Boton comprar*/
.botondecompra{
    border: 2px solid white;
    width: 100px;
    background-color: rgb(153, 255, 0);
    border-radius: 20px;
    text-align: center;
    height: 30px;
    margin-left: 210px;
    padding: 5px, 5px, 5px, 5px;
    align-content: center;
    margin-top: 10px;


}


/*Banner*/

.banner1{
    width: 100%;
    padding-top: 20px;
}

.banner2{
    width: 100%;
    margin-top: -3.8px;
}

/* Media tablet */
@media (min-width:767px){
    
    body{
        height: 100%;
    }
    .sumando322{
        text-align: center;
        align-content: center;
        margin-left: 42%;
    }
    .estrellas{
        width: 30%;
        margin-top: 25px;
        font-size: 20px;
        padding: 5px;
      justify-content: space-between;
        place-content:initial;
        display:flex;
        box-sizing: content-box;
        
    }
    .palabra-medios h4{
        margin-left: 100px;
    }
    .mercadopa{
        width: 200px;
        height: 200px;
      
        display: flex;
        
        }
        div.division-mercadopago{
            width:300px;
            margin-left: 450px;
            display: flex;
        }
        #mercadopa{
            margin-left: 100px;
        }
        .paypall{
            width: 200px;
            margin-left: 370px;
            margin-top: -235px;
                
            }
            .peipal{
              width: 100%;
              margin-top: -10px;
              margin-bottom: 5px;
            
            }
            

.visarda{
    width: 180px;
text-align: center;
align-content: center;
margin-left: 10px;
margin-top: -162px;
position: absolute;
}

.visardi{
   display: flex;
   width: 100%;
   margin-bottom: 10px;
}
#visa{
 margin-top: 20px;

}

            
.american{
width: 150px;
margin-top: -200px;
margin-left: 210px;
}
.ame{
    width: 100%;
    display: flex;
    margin-bottom: 25px;



}
#ameri{
    margin-top: 10px;
    margin-left: -1px;
}



    
    .cosas-del-carrito{
        margin-left: 480px;
    }
.carrillototal h4{
    padding-left: 10px;
}
.total{
    background-color: rgb(252, 253, 243);
    border:1px solid lightgray;
    margin-left: 5px;
    margin-top: 10px;
    height: 30px;
    padding-top: 5px;
    width: 95%;
    text-align: end;
    padding-right: 10px;
    box-sizing: content-box;
    font-size: 20px;
    border-radius: 5px;
}

.botondecompra{
    border: 2px solid white;
    width: 150px;
    background-color: rgb(153, 255, 0);
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    height: 50px;
    margin-left: 610px;
    padding: 5px, 5px, 5px, 5px;
    align-content: center;
    margin-top: 10px;


}



}


/*Media Desktop */
@media (min-width:1023px){
    .miniatura1{
        padding: 5px 0;
        margin-top: 10px;
    
        margin-right: 2px;
        width: 40%;
        height:40%;
        border: 1px solid lightgray;
        border-radius: 5px;
    
    }


    .sumando322{
        width: 70px;
        text-align: center;
        align-content: center;
        margin-left: 45%;
    }
    .estrellas{
        width: 20%;
        margin-top: -520px;
        font-size: 40px;
       padding-bottom: 400px;
        position: relative;
        margin-left:60%;
      justify-content:stretch;
        place-content:initial;
        margin-bottom: 100px;

        
    }
    .estrellas .span{
        width: 40px;
    }

    .divison322{
        width: 50%;
        
    }
    
    .division3221{

        position:relative;
        margin-top: 50px;
        border-bottom:2px solid lightgray;
        width: 320px;
        margin-right: 20%;
        
        }

    .palabra-medios{
        display: flex;
        flex-wrap: wrap;
       margin-left: 40%;
        flex-direction: row;
        width: 60%;
        margin-top: -500px;
        gap: 1rem;
        justify-content: space-around;
        
    }
  
    .carrillototal{
        margin-top: 40px;
        margin-left: 45%;
        width: 50%;
        
        }
        .carrillototal .cosas-del-carrito{
    margin-left: 190px;
        }



        .palabra-medios .mercadopago:hover{
            border: 1px solid lightgray;
            border-radius: 10px;
        }
        .palabra-medios .visa:hover{
            border-radius: 10px;
            border: 1px solid lightgray;
         

        }
        .palabra-medios .americane:hover{
            border-radius: 10px;
            border: 1px solid lightgray;

        }
        .palabra-medios .paypal:hover{
            border-radius: 10px;
            border: 1px solid lightgray;

        }
/* 
    .divisiondelosmedios{
        text-align: center;
        align-content: center;
        margin-top: 60px;
    }
    
    
    
    div.division-mercadopago{
        width:60px;
        margin-right: 160px;
        display: flex;
    }
    .mercadopago{
        width: 60px;
    }
    .mercadopa{
        width: 100%;
        margin-top: 20px;
        display: flex;
        
        }
        
    .para-abajo322no{
        width: 100%;
    }
    
    
    
    .visarda{
         width: 60px;
    text-align: center;
    align-content: center;
    margin-left: 30px;
    margin-top: -80px;
    }
    
    .visardi{
        display: flex;
        width: 100%;
    }
    #visa{
      margin-top: 20px;
    
    }
    
    
    .american{
    width: 60px;
    margin-top: -85px;
    margin-left: 170px;
    }
    .ame{
        width: 80%;
        display: flex;
    
    
    }
    #ameri{
        margin-top: 10px;
        margin-left: -1px;
    }
    .paypall{
    width: 50px;
    margin-left: 240px;
    margin-top: -80px;
        
    }
    .peipal{
      width: 100%;
      margin-top: -10px;
      display: flex;
      margin-bottom: 5px;
    
    }
    
    .medios-de-pago{
        margin-top: 20px;
       
    }
    
    .division{
    
    position:relative;
    margin-top: 20px;
    border-bottom:2px solid lightgray;
    width: 320px;
    
    
    } */

}