.footer-36{
    width: 100%;
   text-align: center;
   background-color: var(--lightblue);
   padding-top: 20px;
    color: white;
    bottom: 0;


}

.footer-36 .padre-36 .footer-hijo1-36 i{
    width: 40px;
    font-size: 30px;
}

.footer-hijo1-36{
    border-bottom: 1px solid rgba(255, 255, 255, 0.274);
}
/* MEDIA QUERIES TABLET */

@media(min-width:767px){
    .footer-36{
        display: flex;
        justify-content: space-between;
        padding: 20px;
     

    }

    .footer-hijo1-36{
        border-bottom: none;
        width: 100%;
        padding-left: 20px;
        text-align: center;
        border-left: 1px solid rgba(255, 255, 255, 0.274);
        justify-content: center;
    }

 .sinborde{
        border-left: none;
    }

}