







header a {
	color: var(--white);
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 20px; 
} 



.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.logo-36{
	display: flex;
  
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;


}

.main-nav a {
	color: var(--white);
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	padding-top: 20px;
	border: 1px solid #a2a2a2;
	background-color: var(--lightblue);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */



/* Media tablet */
@media (min-width: 767px) {

	.main-nav {
		display: flex;
		flex-wrap: wrap;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
	
	}
	.header .naranja322{
		display: none;
	}
label.laboratorio{
	display: none;
}
.solo-mobile322{
	display: none;
}
}

/* Media Mobile */
@media (max-width:767px){

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
		
	}

	header .burger-menu{
		background-color: var(--light_blue);
		color:white;
		width: 15px;
		padding:7px;
		border-radius: 5px;
		text-align: center;
		padding: 4px;
		margin:10px auto 0;
		border: 1px solid lightgray;
		width: 30px;
		height: 32px;
		margin-bottom: 10px;
		
		/*top right bottom left */
	
	}

	.main-nav{
		display: none;
	}

	.header .burger-menu:hover {
		color: lightgray;
	}
	

	ul.bellagio {
		opacity: 0;
		width: 30%;
		z-index: 1;
		background-color: antiquewhite;
		border-radius: 0 0 30px 0;
		padding: 50px;
		transition: all 0.2s ease;
	}
	
	input:checked  ~ ul{
		opacity: 100%;
		width: 50%;
		margin-left: -160px;
		position: absolute;
		background-color: var(--lightblue);
		
	}
	
	input.clase322 {
		display: none;
	}
	
	label.laboratorio {
		box-sizing: content-box;
		position: absolute;
		display: inline-block;
		border: 1px solid black;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
		margin-top: -40px;
		margin-left: -150px;
		
	}
	
	label.laboratorio:hover {
		background: lightblue;
	}
	
	input.clase322:checked  ~ label {
		background: #84c2ff;
		border-radius: 50%;
	
	}
	
	ul.bellagio{
		position: absolute;
		margin-top:0;
		padding: 0;
	
	  
	  }
	  
	  
	.bellagio li.lista32{
		display: block;
		position: relative;
		margin: 0;
		padding: 10px;
		list-style: none;
		width: 25%;
		transition:all 1s ease-in-out;
		cursor: pointer;
		color: white;
		
	  }

	  .lista32 a{
		  color: black;
	  }
	  

}

/*   Media Desktop*/

@media (min-width: 1025px) {
	.header {
		justify-content: space-between;
		flex-direction: row;
		justify-content: space-between;
	}

	.header .naranja322{
		display: block;
	}
.division-paypal{
	display: flex;
}

}

