
.header {
	background-color: var(--lightblue);
}

.header .logo {
	border-radius: 50%;
	display: flex;
	width: 70px;
}

.header .logo img{
	width: 100%;
}

.header .dropdown-menu {
	background-color: var(--lightblue);
}

.header .btn-outline-custom {
	border: 1px solid white;
	color: white;
	transition: all 0.5s ease-in;
}

.header .btn-outline-custom:hover {
	color: var(--lightblue);
	background-color: white;
	cursor: pointer;
}

.header .header-nav-contain {
	display: flex;
	justify-content: space-between;
}

.loginCart-buttons {
	display: flex;
	padding: 1rem 0rem;
		justify-content: start;

	width: 150px;
	font-size: 1.5rem;
}

.loginCart-buttons li{
	margin-right: 1rem;
}


@media screen and (min-width: 992px) {
	.loginCart-buttons {
		justify-content: space-evenly;
		padding: 0 1rem;
	}
}	