* {
    box-sizing:border-box;
    margin: 0  auto ;
    padding: 0;
    font-style:normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
html{
    width: 100%;
}

.body-36 {
    width: 100%;
    background-image: url(/public/img/dos.jpg) no-repeat center top;
    
}


.padre-36{
    display: flex; /* INDISPENSABLE */
    flex-direction: column; /* ALINEA EN COLUMNA */
    /* flex-direction: row; */ /* ALINEA EN FILA */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    
}

.hijo1-36{

    width: 90%;
    height: 450px;
    background-color:rgba(148, 0, 211, 0.185);
    text-align: center; /* CENTRAR CONTENIDO */
    margin: 5px;
    padding: 5px;
    line-height: 20px; /* INTERLINEADO */
    border-radius: 10px;
    font-size: 15px;
}

.imagen-producto-36{
    width: 95%;
    height: 90%;
    object-fit: cover;
  /*   background-color:yellow; */
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
}

.botones-36{
  /*   background-color: royalblue; */
    width: 80%;
    height: 5%;
}

.boton-agregar-36{
    background-color:rgb(69, 80, 223);
    font-size: 10x;
    color: white;
    border-radius: 10px;
    height: 10%;
    margin: 5px;
    padding: 5px;
    
}

.section-novedades-36{
    background-color: rgb(69, 80, 223);
    font-size: 30px;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    height: 50px;
    /* border-radius: 5%; */
}

.section-mas-vendidos-36{
    background-color:rgb(69, 80, 223);
    font-size: 30px;
    /* justify-content: center; */
    text-align: center;
}



.banner-36{
   display: none;
   width: fit-content
}

.h2{
    color:red;
}





@media (min-device-width : 767px){

    .h2-36{
        font-size: 60px;
        color:violet;
        text-align: left;
    }

    .padre-36{
        /* display: flex; */     /* INDISPENSABLE */
        /* flex-direction: column;  *//* ALINEA EN COLUMNA */
        flex-direction: row;  /* ALINEA EN FILA */
        width: 100%;
        height: 100%;
        /* background-color: blue; */
        text-align: center;
       /*  align-items: center; */
       /*  margin: auto; */
       /* display: inline-block; */
       justify-content: center; /* alineacion de los items dentro del div */
       
        
    }
    
    .hijo1-36{
    
        width: 300px;
        height: 450px;
        background-color:rgba(0, 0, 0, 0.178);
        text-align: center; /* CENTRAR CONTENIDO */
        margin: 5px;
        padding: 5px;
        line-height: 20px; /* INTERLINEADO */
        border-radius: 10px;
        font-size: 15px;
    }
    
    .imagen-producto-36{
        width: 95%;
        height: 90%;
        object-fit: cover;
      /*   background-color:yellow; */
        margin: 10px;
        padding: 5px;
        border-radius: 15px;
    }
    
    .botones-36{
        /* background-color: royalblue; */
        width: 80%;
        height: 5%;
    }
    
    .boton-agregar-36{
        background-color:rgb(69, 80, 223);
        font-size: 10x;
        color: white;
        border-radius: 10px;
        height: 10%;
        margin: 5px;
        padding: 5px;
        
    }

    .banner-36 {
        text-align: center;
        width: fit-content;
    }
.banner4-322{
    width: 100%;
}


    .banner-36{
        display: flex;
        width: fit-content;
    }
    h2{
        color:red;
    }




}
