@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800italic);
* {
    box-sizing:border-box;
    margin: 0  auto ;
    padding: 0;
    font-style:normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.padre-36{
    display: flex; /* INDISPENSABLE */
    flex-direction: column; /* ALINEA EN COLUMNA */
    /* flex-direction: row; */ /* ALINEA EN FILA */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
   
    
}

.hijo1-36{

    width: 100%;
    height: 320px;
    background-color:white;
    text-align: center; /* CENTRAR CONTENIDO */
    margin: 1px;
    padding: 1px;
    line-height: 10px; /* INTERLINEADO */
    border-radius: 10px;
    font-size: 15px;
}

.hijo2-36{

    width: 100%;
    height: 400px;
    background-color:lightgrey;
    text-align: center; /* CENTRAR CONTENIDO */
    margin: 5px;
    padding: 5px;
    line-height: 25px; /* INTERLINEADO */
    border-radius: 10px;
    font-size: 15px;

    
}

.importe36{
    color:black;
    font-size: 25px;
    text-decoration:line-through; /* tachado */
}

.importe36-descuento{
    color:red;
    font-size: 25px;
}
.cuotas{
    color:seagreen;
}
.imagen-mobile-36{
    width: 100%;
    height: 100%;
    /* position: relative; */
    object-fit: cover; /* TIP JONA */
    border-radius: 10px;
}
.imagen-mobile-36-2{
    width: 100%;
    height: 100%;
    /* position: relative; */
    object-fit: cover; /* TIP JONA */
    border-radius: 10px;
}

.span36{
    margin: 5px;
    text-align: center;
}
.select36{
    color:blue;
    text-align: center;
   
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    
}
.botones-36{
    /* background-color: royalblue; */
    width: 80%;
    height: 10%;
  
}

.boton-agregar-36{
   /*  background-color:red;
    font-size: 10px;
    border-radius: 10px;
    height: 10%;
    margin: 5px;
    padding: 5px; */

    background-color:red;
    font-size: 10x;
    border-radius: 10px;
    height: 10%;
    margin: 5px;
    padding: 5px;
  
    
} 

.boton-agregar-36-verde{
    background-color:seagreen;
    font-size: 10x;
    border-radius: 10px;
    height: 10%;
    margin: 5px;
    padding: 5px;
   
    
}

.logo-36{
    border-radius: 20px;
}

/* footer */

.footer-36{
    background-color:rgb(69, 80, 223);
    display: flex; /* INDISPENSABLE */
    flex-direction: column; /* ALINEA EN COLUMNA */
    /* flex-direction: row; */ /* ALINEA EN FILA */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.footer-hijo1-36{
    width: 90%;
    height: 80px;
    /* background-color:rgba(148, 0, 211, 0.185); */
    text-align: center; /* CENTRAR CONTENIDO */
    margin: 5px;
    padding: 5px;
    line-height: 20px; /* INTERLINEADO */
    border-radius: 10px;
    font-size: 15px;
}





@media (min-device-width : 767px){

    .padre-36{
        display: flex; /* INDISPENSABLE */
        /* flex-direction: column; */ /* ALINEA EN COLUMNA */
        flex-direction: row; /* ALINEA EN FILA */
        width: 1200px;
        height: 700px;
        /* background-color: blue; */
        
    }
    
    .hijo1-36{
    
        width: 900px;
        height: 600px;
        background-color:lightgrey;
        text-align: center; /* CENTRAR CONTENIDO */
        margin: 2px;
        padding: 15px;
        border-radius: 10px;
       
    }
    
    .hijo2-36{
    
        width: 900px;
        height: 600px;
        background-color:lightgrey;
        text-align: left; /* CENTRAR CONTENIDO */
        margin: 2px;
        padding: 30px;
        line-height: 30px; /* INTERLINEADO */
        border-radius: 10px;
        font-size: 25px;
    }
    
    .imagen-mobile-36{
        width: 100%;
        height: 100%;
        /* position: relative; */
       /*  object-fit: cover; */ /* TIP JONA */
       border-radius: 10px;
    }
    .imagen-mobile-36-2{
        width: 100%;
        height: 100%;
        /* position: relative; */
        object-fit: cover; /* TIP JONA */
        border-radius: 10px;
    }

 /*    .select-36{
        text-align: left;
        padding: 20px;
    } */

    .select36{
        color:red;
    
        font-size: 20px;
        border-radius: 10px;
        height: 40px;
        width: 40px;
        
    }
    
    .botones-36{
        background-color: none;
        width: 80%;
        height: 35%;
        text-align: center;
        margin: 10px;
    }
    
    .boton-agregar-36{
        background-color:red;
        font-size: 25px;
        border-radius: 10px;
        width: 45%;
        height: 45%;
        margin: 5px;
        padding: 5px;
        
    }

    .boton-agregar-36-verde{
        background-color:seagreen;
        font-size: 25px;
        border-radius: 10px;
        width: 45%;
        height: 45%;
        margin: 5px;
        padding: 5px;
        
    }

    .logo-36{
        border-radius: 20px;
    }

    /* footer */

    .footer-36{
        background-color:rgb(69, 80, 223);
        display: flex; /* INDISPENSABLE */
      /*   flex-direction: column; */ /* ALINEA EN COLUMNA */
        flex-direction: row; /* ALINEA EN FILA */
        width: 100%;
        height: 100px;
        /* background-color: blue; */
    }

    .footer-hijo1-36{
        width: 30%;
        height: 70px;
        /* background-color:rgba(148, 0, 211, 0.185); */
        text-align: center; /* CENTRAR CONTENIDO */
        margin: 5px;
        padding: 5px;
        line-height: 20px; /* INTERLINEADO */
        border-radius: 10px;
        font-size: 15px;
    }
  


   
    

    




}



