:root {
	/* COLORS */
   /*  --lightblue: #3C91E6; */
	--lightblue: rgb(69, 80, 223);

	--white: #F6F7EB;
	--white-2: #BED8EA;
	--orange: #FF5B0D; /* Colors-Puedo guardar el color en una variable, despues solo lo invoco*/



    /*Font*/
    --font-roboto:"Roboto", sans-serif;
    /*Font sizes*/
    --paragraph: 12px; /*parrafo o cuerpo del texto*/
    --title: 24px; /*precios*/
    --prices: 18px; /*precios*/
    --discounts-descriptions: 16px;/*descuentos y descripciones*/
}
 




.logo {
	margin: 0;
	font-size: 20px; 
} 



.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: var(--white);
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	padding-top: 20px;
	border: 1px solid #a2a2a2;
	background-color: var(--lightblue);
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */



/* Media tablet */
@media (min-width:767px) {

	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
	
	}
	.header .naranja322{
		display: none;
	}
label.laboratorio{
	display: none;
}
.solo-mobile322{
	display: none;
}
.register {
    width: 340px;
    height: 680px;
    border-radius: 60px;
    background: rgba(14, 14, 14, 0.59);
    color: ghostwhite;
    top: 50%;
	margin-top: 400px;
	left: 22%;
   align-items: center;
    position: absolute;
	 transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
}

}

/* Media Mobile */
@media (max-width:767px){

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		max-width: 1150px;
		
	}

	header .burger-menu{
		background-color: var(--light_blue);
		color:white;
		width: 15px;
		padding:7px;
		border-radius: 5px;
		text-align: center;
		padding: 4px;
		margin:10px auto 0;
		border: 1px solid lightgray;
		width: 30px;
		height: 32px;
		margin-bottom: 10px;
		
		/*top right bottom left */
	
	}

	.main-nav{
		display: none;
	}

	.header .burger-menu:hover {
		color: lightgray;
	}
	

	ul.bellagio {
		opacity: 0;
		width: 30%;
		position: absolute;
		background-color: antiquewhite;
		border-radius: 0 0 30px 0;
		padding: 50px;
		transition: all 0.2s ease;
	}
	
	input:checked  ~ ul{
		opacity: 100%;
		width: 50%;
		margin-left: -160px;
		position: absolute;
		background-color: var(--lightblue);
		
	}
	
	input.clase322 {
		display: none;
	}
	
	label.laboratorio {
		box-sizing: content-box;
		position: absolute;
		display: inline-block;
		border: 1px solid black;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
		margin-top: -40px;
		margin-left: -150px;
		
	}
	
	label.laboratorio:hover {
		background: lightblue;
	}
	
	input.clase322:checked  ~ label {
		background: #84c2ff;
		border-radius: 50%;
	
	}
	
	ul.bellagio{
		position: absolute;
		margin-top:0;
		padding: 0;
	
	  
	  }
	  
	  
	.bellagio li.lista32{
		display: block;
		position: relative;
		margin: 0;
		padding: 10px;
		list-style: none;
		width: 25%;
		transition:all 1s ease-in-out;
		cursor: pointer;
		color: white;
		
	  }

	  .lista32 a{
		  color: black;
	  }
	  .register {
		width: 340px;
		height: 680px;
		border-radius: 60px;
		background: rgba(14, 14, 14, 0.59);
		color: ghostwhite;
		top: 50%;
		margin-top: 390px;
		left: 50%;
	   align-items: center;
	
		transform: translate(-50%, -50%);
		box-sizing: border-box;
		padding: 90px 40px;
	}

}

/*   Media Desktop*/

@media (min-width: 1025px) {
	.header {
		justify-content: space-between;
		flex-direction: row;
		justify-content: space-between;
	}
	.header .naranja322{
		display: block;
	}
.division-paypal{
	display: flex;
}
}

@media (max-width:1023px){


}

/* :root{
    --color-dark: rgb(0, 0, 0);
    --color-dark-0: rgba(39, 48, 48, 0.885);
    --color-dark-1: rgba(10, 10, 10, 0.659);
    --color-light : white;
    --color-gray: rgb(189, 177, 130);
} */

/* .register {
    width: 340px;
    height: 680px;
    border-radius: 60px;
    background: rgba(14, 14, 14, 0.59);
    color: ghostwhite;
    top: 50%;
 
   align-items: center;
    position: relative;
    transform: translate(-94%, -30%);
    box-sizing: border-box;
    padding: 90px 40px;
} */

/* .register .icono2 {
    color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
} */

* {
	box-sizing: border-box;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	/* display: flex; */
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	/* width: 800px;
    height: 880px; */
	border-radius: 10px;
    background: rgba(255, 255, 255, 0.405);
	box-sizing: border-box;
	padding: 40px 100px;
}

.formulario_1_label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario_1_grupo-input {
	position: relative;
}

.formulario_1_input {
	width: 100%;
	background: rgba(255, 255, 255, 0.782);
	border: 3px solid transparent;
	border-radius: 3px;
	height: 40px;
	line-height: 40px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario_1_input:focus {
	border: 3px solid #0075ff;
	outline: none;
	box-shadow: 3px 0px 30px rgb(56, 97, 174, 1);
}

.formulario_1_input-error {
	font-size: 10px;
	margin-bottom: 0;
	display: none;
}

.formulario_1_input-error-activo {
	display: block;
}

.formulario_1_validacion-estado{
	position: absolute;
	right: 12px;
	bottom: 12px;
	z-index: 100;
	font-size: 18px;
	opacity: 0; 
}

.formulario_1_checkbox {
	margin-right: 10px;
}

.formulario_1_grupo-terminos,
.formulario_1_mensaje,
.formulario_1_grupo-btn-enviar {
	grid-column: span 2; /* es para que abarque dos columnas */
}

.formulario_1_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_1_mensaje-activo {
	display: block;
}

.formulario_1_mensaje p {
	margin: 0;
}

.formulario_1_grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario_1_btn {
	height: 45px;
	line-height: 45px;
	width: 100px;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario_1_btn:hover {
	box-shadow: 3px 0px 30px rgb(27, 82, 233);
}

.formulario_1_mensaje-exito {
	font-size: 20px;
	color: rgb(12, 97, 12);
	font-weight: bold;
	display: none;
}

.formulario_1_mensaje-exito-activo {
	display: block;
}


/* ///ESTILOS DE VALIDACION/// */

.formulario_1_grupo-correcto .formulario_1_validacion-estado{
	color: rgb(5, 148, 5);
	opacity: 1;
}

.formulario_1_grupo-incorrecto .formulario_1_label {
	color: red;
}

.formulario_1_grupo-incorrecto .formulario_1_validacion-estado {
	color: red;
	opacity: 1;
}

.formulario_1_grupo-incorrecto .formulario_1_input {
	border: 3px solid red;
}

/* ///MEDIAQUERIES DEL REGISTER/// */

@media screen and (max-width: 880px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario_1_grupo-terminos,
	.formulario_1_mensaje,
	.formulario_1_grupo-btn-enviar{
		grid-column: 1;
	}

}


.footer-36{
    background-color:rgb(69, 80, 223);
    display: flex; /* INDISPENSABLE */
  flex-direction: column; /* ALINEA EN COLUMNA */
    flex-direction: row; /* ALINEA EN FILA */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.footer-hijo1-36{
    width: 30%;
    height: 80px;
    /* background-color:rgba(148, 0, 211, 0.185); */
    text-align: center; /* CENTRAR CONTENIDO */
    margin: 5px;
    padding: 5px;
    line-height: 20px; /* INTERLINEADO */
    border-radius: 10px;
    font-size: 15px;
}

@media (max-device-width : 1024px){
    .footer-36{
        background-color:rgb(69, 80, 223);
        display: flex; /* INDISPENSABLE */
        flex-direction: column; /* ALINEA EN COLUMNA */
        /* flex-direction: row; */ /* ALINEA EN FILA */
        width: 100%;
        height: 100%;
        /* background-color: blue; */
    }
    
    .footer-hijo1-36{
        width: 100%;
        height: 80px;
        /* background-color:rgba(148, 0, 211, 0.185); */
        text-align: center; /* CENTRAR CONTENIDO */
        margin: 5px;
        padding: 5px;
        line-height: 20px; /* INTERLINEADO */
        border-radius: 10px;
        font-size: 15px;
    }

}
