@import url('https://fonts.googleapis.com/css2? family = Source + Sans + Pro: ital, wght @ 0,400; 0,700; 1,600 & display = swap');

:root {
	/* COLORS */
   /*  --lightblue: #3C91E6; */
	--lightblue: rgb(69, 80, 223);
	--white: #F6F7EB;
	--white-2: #BED8EA;
	--orange: #FF5B0D; /* Colors-Puedo guardar el color en una variable, despues solo lo invoco*/
    /*Font*/
    --font-roboto:"Roboto", sans-serif;
    /*Font sizes*/
    --paragraph: 12px; /*parrafo o cuerpo del texto*/
    --title: 24px; /*precios*/
    --prices: 18px; /*precios*/
    --discounts-descriptions: 16px;/*descuentos y descripciones*/
}
 