<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="\css\productDetail.css">
    <link rel="stylesheet" href="\css\header.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Detalle de producto</title>
</head>
<body class="body36">
  <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->


<!-- .......................FIN HEADER.................................... -->

  

    <div class="padre-36">

      
        <!-- 1° TARJETA -->
        <div class="hijo1-36">

            <div>
                <div class="imagen-mobile-36">
                    <!-- <img width="280px"src="celular-350.png" alt=""> -->
                    <img class="imagen-mobile-36-2"  src="/img/celular-350.png" alt="foto de celular iphone x">
                </div>
            </div>

        </div>

        <!-- tarjeta 2 -->
        <div class="hijo2-36">
            <div>
                <div> 
                    <h3>iPhone X 256 GB gris espacial</a></h3>
                    

                    <span>Precio :</span> <span class="importe36">250.000</span> <span class="importe36-descuento">    $189.000</span>
                    <br>
                    <span>en   </spa"><span class="cuotas">9 x 21.000  </span><span class="cuotas">  sin interés</span>

                    <h4>Descripción:</h4>
                    <p>Doble cámara y más detalles
                        Sus 2 cámaras traseras de 12 Mpx/12 Mpx te permitirán tomar imágenes con más detalles y lograr efectos únicos como el famoso modo retrato de poca profundidad de campo.</p>
                    <p>Además, el dispositivo cuenta con cámara frontal de 7 Mpx para que puedas sacarte divertidas selfies o hacer videollamadas.</p>
                
                    <br>
                    <div class="color-cantidad">

                      


                       
                        <select name="elija-color36" class="input-select36">
                            <option value="" hidden selected>Elija un color</option>
                            <option value="color1">Gris</option>
                            <option value="color2">Negro</option>
                            <option value="color3">Plateado</option>
                        </select>


                        <span class="span36">cantidad</span> <button class="select36"> - </button> <span class="span36" > 1 </span> <button class="select36"> + </button>
                    </div>




                    

                    
                   
   
                    <div class="botones-36">
                        <button class="boton-agregar-36-verde"> Agregar<i class="fas fa-shopping-cart"></i></button> <button class="boton-agregar-36">Comprar <i class="fas fa-dollar-sign"></i></i></button> 
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Inicio footer -->
    <footer class="footer-36">

        <div class="padre-36">
            <div class="footer-hijo1-36 sinborde">
                <div>
                    <div>
                        <h2><a href="">Información</a></h2>
                        <p>Nosotros</p>
                        <p>Asesoramiento</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------ -->
        <div class="padre-36">
            <div class="footer-hijo1-36 ">
                <div>
                    <div>
                        <h2><a href="">Sucursales</a></h2>
                        <p>Av. San Martín 123</p>
                        <p>Av. Colón 369</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h2> <a href="">Contacto</a> </h2>
                        <p>te:351-369-963</p>
                        <p>clickea@mail.com.ar</p>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i> </a> <a href="https://www.facebook.com/"> <span> <i class="fab fa-facebook"> </i>  </span> </a> <a href="https://www.instagram.com/"><i class="fab fa-instagram"> </i></a>
                    </div>
                </div>
            </div>
        </div>
    
    </footer>
    <!-- Fin footer -->
</body>
</html>