<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
     integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
     <link rel="stylesheet" href="/css/style.css">

    <title>Clickea</title>
    
   
<!-- <a href="/login">Login</a> -->

<body class="cuerpo-del-carrito">
       <!-- :::::::::::::::::INICIO HEADER::::::::::::::::::::::: -->
     <nav class="navbar navbar-expand-lg navbar-dark header">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><div class="logo"><a href="/"><img class="logo" src="\img\2.png"></a> </div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ElectroHogar</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tecnología
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Celulares</a></li>
                  <li><a class="dropdown-item" href="#">Tablets</a></li>
                  <li><a class="dropdown-item" href="#">Drones</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Computacion
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Pc</a></li>
                  <li><a class="dropdown-item" href="#">Notebooks</a></li>
                  <li><a class="dropdown-item" href="#">Accesorios</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-custom" type="submit">Buscar</button>
            </form>
            <ul class=" mb-2 mb-lg-0 loginCart-buttons">
                <li >
                    <a href="/login"><i class="fas fa-user-circle"></i></a> 
                </li>
    
                <li >
                    <a  href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    

    <!-- .......................FIN HEADER.................................... -->



    
    <h4 class="titulodelcarrito77"> <i class="fas fa-cart-arrow-down"></i></i> </i> Mi Carrito</h4>
    <div class="contenedor-padre77">
        <section class="dondevanlosproductos777">
            <article class="articulosenelcarrito77">
            <div class="product-description777"> 
                <h4 class="titulodelproducto77">Iphone X 256gb</h4>
                
                <h6 class="precioporunidad77">$120.000</h6>
                <div class="imagen-container777">
                <img class="imagendelarticulo77" src="/img/iphonex.png" alt="iphone">
                 </div>
            </div>
                <i class="fas fa-trash"></i> 
                
                <div class="contenedor-contador777"> 
                    
                <div class="qty ">
                    <div class="a"><p class="subtotal777">$120.000</p></div>
                   <div class="b"> <span class="minus bg-dark">-</span>
                    <input type="number" class="count" name="qty" value="1">
                    <span class="plus bg-dark">+</span></div>
                </div>
               </div>
            </article>
        
        </section>
   
        <section class="contenedor-subtotal777">
            <article class="contenedor-subtotaldata">
             <p class="palabra-subtotal777">Subtotal</p>
             <p class="subtotal-sin-envio777">$120.000</p>
        
             <p class="envio777">Envío</p>
             <p class="total-del-envio777">$1.200</p>

                <p class="palabra-total777">Total</p>
             <p class="total-con-envio777">$121.200</p>

            
             
              <p class="titulo-medios777"> <i class="far fa-credit-card"></i> Seleccione su medio de pago:</p>
                  
                <div class="medios-de-pago777">
                     <section class="medios">
                         <div class="division-mercadopago">
                        <article class="mp">
                         <label for="mercadopago"><img src="/img/logo-mercadopago29.png" alt=""> </label>
                         <input class="checking" type="checkbox" name="mercadopago" id="mercadopago">
                        </article>
                        </div>

                     <div class="division-paypal">
                        <article class="mp">
                        <label for="mercadopago"><img src="/img/paypalll.png" alt=""> </label>
                        <input class="checking" type="checkbox" name="mercadopago" id="mercadopago">
                         </article>
                     </div>

                     <div class="division-americanexpress">
                         <article class="mp">
                        <label for="mercadopago"><img src="/img/ameri.png" alt=""> </label>
                        <input class="checking" type="checkbox" name="mercadopago" id="mercadopago">
                       </article>
                      </div>

                     <div class="division-visa">
                         <article class="mp">
                        <label for="mercadopago"><img src="/img/visa.png" alt=""> </label>
                        <input class="checking" type="checkbox" name="mercadopago" id="visa">
                        </article>
                      </div>


                     </section>
                
                </div>
                <div class="boton-finalizar-compra">
                    <button class="boton" type="submit" name="boton-finalizar-compra">
                        Finalizar compra   <i class="fas fa-hand-holding-usd"></i></i>
                    </button>
                </div>





            </article>
        </section>
    </div>







    
</body>

    <!-- Inicio footer -->
    <footer class="footer-36">

        <div class="padre-36">
            <div class="footer-hijo1-36 sinborde">
                <div>
                    <div>
                        <h2><a href="">Información</a></h2>
                        <p>Nosotros</p>
                        <p>Asesoramiento</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------ -->
        <div class="padre-36">
            <div class="footer-hijo1-36 ">
                <div>
                    <div>
                        <h2><a href="">Sucursales</a></h2>
                        <p>Av. San Martín 123</p>
                        <p>Av. Colón 369</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="padre-36">
            <div class="footer-hijo1-36">
                <div>
                    <div>
                        <h2> <a href="">Contacto</a> </h2>
                        <p>te:351-369-963</p>
                        <p>clickea@mail.com.ar</p>
                        <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i> </a> <a href="https://www.facebook.com/"> <span> <i class="fab fa-facebook"> </i>  </span> </a> <a href="https://www.instagram.com/"><i class="fab fa-instagram"> </i></a>
                    </div>
                </div>
            </div>
        </div>
    
    </footer>
    <!-- Fin footer -->

<script src="/js/cart.js" > </script>

</body>



</html>